<div class="curriculum-listings">
  <h3 align="center"><b>Content Manager</b></h3>
  <div class="backing">
    <a class="btn btn-primary" ui-sref="app.dashboard">Back</a>  
  </div>
  <br/>
  <div class="container_div">
    <ul>
      <a>
        <li ng-repeat="lesson in allLessons">   
          <div class="curriculum-title">
          <br/>
            <span align="center">{{lesson.title}}</span>
          </div>
          <div class="curriculum-desc">{{lesson.description}}</div>
          <div align="center">
            <a class="btn btn-primary" ui-sref="app.contentlessonlos({lessonId: lesson.id})">View LOs</a>
          </div>
          <br>
        </li>
      </a>
    </ul>
  </div>
</div>