<!DOCTYPE html>
<head>
<title>Forgot Password</title>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0, initial-scale=1" />
<link href="styles/main.css" type="text/css" rel="stylesheet" />
</head>

<body><form action="" method="get">
<div class="login forgotPassword">
<div class="form"><a href="templates/login.html" class="backArrow">Back</a>
<h1>FORGOT PASSWORD?</h1>
<p>Please enter your email address and click Submit, we will send you an email with a link to reset your password.</p>
<ul>
  <li><input name="" type="text" value="Your email address" /></li>
  <li><input name="" type="submit" class="button" value="SUBMIT" /></li>
</ul>
</div>
</div>
</form>
</body>
</html>
