<div class="curriculum-listings">
  <h3 align="center"><b>Curriculum Manager</b></h3>
  <div class="backing">
    <a class="btn btn-primary" ui-sref="app.contentarea">Back</a>  
  </div>
  <br/>
  <div class="container_div">
    <ul class="scrolling">
      <a>
        <li>
          <div align="center" style="margin-top: 25%;">
            <input type="button" class="btn btn-primary" ng-click="open(areaid, 1)" value="New Course">
          </div>
        </li>
        <li ng-repeat="course in allCourses">
          <div class="curriculum-title">
          <br/>
            <span align="center">{{course.title}}</span>
          </div>
          <div class="curriculum-desc">{{course.description}}</div>  
          <div align="center">
            <a class="btn btn-primary" ui-sref="app.areacourses({areaId: area.id})">Graph</a>
            <a class="btn btn-primary" ui-sref="app.coursemodules({courseId: course.id})">View</a>
            <a class="btn btn-primary" ng-click="editcourse(course.id, 2)">Edit</a>
            <a class="btn btn-primary" ng-click="deletecourse(course)">Delete</a>
          </div>
          <br>
        </li>
      </a>
    </ul>
  </div>
</div>

<script type="text/ng-template" id="mycourseModalContent.html">
  <div class="modal-header">
      <h3 align="center"><b >New Course</b></h3>
  </div>
  <div class="modal-body">
    <form name="createcourse" class="model" novalidate>
      <div class="control-group">
        <br/>
        <div class="form-group" ng-class="{ 'has-error' : createcourse.id.$invalid && !createcourse.id.$pristine }">
          <input type="text" placeholder="Course Id" class="form-control" name="id" ng-model="course.id" ng-minlength="3" ng-maxlength="8" required>
          <!-- <p ng-show="createarea.id.$invalid && !createarea.id.$pristine" class="help-block">You should enter id properly</p> -->
          <p ng-show="createcourse.id.$error.minlength" class="help-block">Id is too short.</p>
          <p ng-show="createcourse.id.$error.maxlength" class="help-block">Id is too long.</p>
        </div>

        <div class="form-group" ng-class="{'has-error' : createcourse.title.$invalid && !createcourse.title.$pristine }">
          <input type="text" placeholder="Course title" class="form-control" name="title" ng-model="course.title" ng-minlength="3" ng-maxlength="8" required>
          <p ng-show="createcourse.title.$error.minlength" class="help-block">Username is too short.</p>
          <p ng-show="createcourse.title.$error.maxlength" class="help-block">Username is too long.</p>
        </div>
        <div class="form-group" ng-class="{'has-error' : createcourse.image.$invalid && !createcourse.image.$pristine }">
            <input type="text" placeholder="Course Image" class="form-control" name="image" ng-model="course.image" ng-minlength="10" ng-maxlength="20" required>
            <p ng-show="createcourse.image.$error.minlength" class="help-block">Image is too short.</p>
            <p ng-show="createcourse.image.$error.maxlength" class="help-block">Image is too long.</p>
        </div>
        <div class="form-group" ng-class="{'has-error' : createcourse.description.$invalid && !createcourse.description.$pristine }">
            <textarea name="description" class="form-control" rows="6" Placeholder="Description" id ="description" ng-model="course.description" ng-minlength="10" ng-maxlength="20" required>
            </textarea>          
            <p ng-show="createcourse.description.$error.minlength" class="help-block">description is too short.</p>
            <p ng-show="createcourse.description.$error.maxlength" class="help-block">description is too long.</p>
        </div>
        <div class="controls" ng-disabled="createcourse.$invalid">
          <button  ng-if="id ==1"ui-sref="app.dashboard" class="btn btn-primary" ng-click="save(1)" ng-disabled="createcourse.$invalid">Save</button>
          <button ui-sref="app.contentarea"  ng-if="id==2" class="btn btn-primary" ng-click="save(2)" ng-disabled="createcourse.$invalid">Save</button>
          <button ui-sref="app.contentarea" class="btn btn-primary" ng-click="cancel()">Cancel</button>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
  </div>
</script>