<form  nonvalidate role="form" class="management">
  <div class="control-group">
    <label class="control-label" align="center"><h3><b>Edit Skill</b></h3></label>
    <br/>
    <br/>
    <div class="controls">
      <input type="text" placeholder="Skill Id" class="form-control" id="id" ng-model="skill.id">
    </div>
    <br/>
    <div class="controls">
      <input type="text" placeholder="skill Ttile" class="form-control" id="title" ng-model="skill.title">
    </div>
    <br/>
    <div class="controls">
      <input type="text" placeholder="skill Image" class="form-control" id="image" ng-model="skill.image">
    </div>
    <br/>
    <div class="controls">
      <textarea name="message" id="message" class="form-control" rows="6" Placeholder="Description" id ="description" ng-model="skill.content"></textarea>
    </div>
    <br/>
    <div class="controls">
      <a ui-sref="app.contentarea">
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="save(2)">Save</button>
      <a>
    </div>
  </div>
  <br/>
  <br/>
  <br/>
</form>

<style type="text/css">
  .management
  {
    margin-left: 40%;
    margin-right: 40%;
  }
</style>